.pic {
    width: 100%;
    height: 1500px;
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    font-family: 'Arial', sans-serif;
}

.navbar {
    background-color: red;
    padding: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-icon {
    padding-left: 20PX;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
}

.dot {
    width: 50px;
    height: 8px;
    background-color: #fff;
    margin: 3px 0;
}

.menu-content {
    display: none;
}

.menu-content a {
    margin-right: 20PX;
    color: #fff;
    text-decoration: none;
    padding: 10px;
    font-size: 50px;
    display: inline-block;
}

.menu-content a:hover {
    background-color: #555;
}

.bottom {
    background-color: black;
    color: white;
    text-align: center;
}
